language: generic

git:
 depth: 3

env:
  global:
    - BOOST_INCLUDES=$HOME/Libraries/include
    - BOOST_LIBS=$HOME/Libraries/lib
    - BOOST_V=1_61_0
    - BOOST_VV=1.61.0
    - BUILD_TYPE=Debug

cache:
 directories: boost_${BOOST_V}

sudo: no

# Save common build configurations as shortcuts, so we can reference them later.
addons_shortcuts:
  addons_clang35: &clang35
    apt:
      sources: [ 'ubuntu-toolchain-r-test', 'llvm-toolchain-precise-3.5' ]
      packages: [ 'clang-3.5', 'llvm-3.5-dev' ]
  addons_clang36: &clang36
    apt:
      sources: [ 'ubuntu-toolchain-r-test', 'llvm-toolchain-precise-3.6' ]
      packages: [ 'clang-3.6' ]
  addons_clang37: &clang37
    apt:
      sources: [ 'ubuntu-toolchain-r-test', 'llvm-toolchain-precise-3.7' ]
      packages: [ 'clang-3.7' ]
  addons_clang38: &clang38
    apt:
      sources: [ 'ubuntu-toolchain-r-test', 'llvm-toolchain-precise-3.8' ]
      packages: [ 'clang-3.8']
  addons_clang39: &clang39
    apt:
      sources: [ 'ubuntu-toolchain-r-test', 'llvm-toolchain-precise' ]
      packages: [ 'clang-3.9']
  addons_gcc47: &gcc47
    apt:
      sources: [ 'ubuntu-toolchain-r-test' ]
      packages: [ 'g++-4.7' ]
  addons_gcc48: &gcc48
    apt:
      sources: [ 'ubuntu-toolchain-r-test' ]
      packages: [ 'g++-4.8' ]
  addons_gcc49: &gcc49
    apt:
      sources: [ 'ubuntu-toolchain-r-test' ]
      packages: [ 'g++-4.9' ]
  addons_gcc5: &gcc5
    apt:
      sources: [ 'ubuntu-toolchain-r-test' ]
      packages: [ 'g++-5' ]
  addons_gcc5: &gcc6
    apt:
      sources: [ 'ubuntu-toolchain-r-test' ]
      packages: [ 'g++-6' ]

matrix:
  include:
    - os: osx
      osx_image: xcode8
      env: CXXFLAGS="-std=c++14 -pipe"
      compiler: clang
    - os: osx
      osx_image: xcode7.3
      env: CXXFLAGS="-std=c++14 -pipe"
      compiler: clang
    - os: osx
      osx_image: xcode7.2
      env: CXXFLAGS="-std=c++14 -pipe"
      compiler: clang
    - os: osx
      osx_image: xcode7
      env: CXXFLAGS="-std=c++14 -pipe"
      compiler: clang
    - os: osx
      osx_image: xcode6
      env: CXXFLAGS="-std=c++11 -pipe"
      compiler: clang
    - os: linux
      compiler: "clang35"
      env: CXX=/usr/bin/clang++-3.5 CXXFLAGS="-std=c++14 -pipe"
      addons: *clang35
    - os: linux
      compiler: "clang36"
      env: CXX=/usr/bin/clang++-3.6 CXXFLAGS="-std=c++14 -pipe"
      addons: *clang36
    - os: linux
      compiler: "clang37"
      env: CXX=/usr/bin/clang++-3.7 CXXFLAGS="-std=c++14 -pipe"
      addons: *clang37
    - os: linux
      compiler: "clang38"
      env: CXX=/usr/bin/clang++-3.8 CXXFLAGS="-std=c++14 -pipe"
      addons: *clang38
    - os: linux
      compiler: "clang39"
      env: CXX=/usr/bin/clang++-3.9 CXXFLAGS="-std=c++14 -pipe"
      addons: *clang39
    - os: linux
      compiler: "gcc47"
      env: CXX=/usr/bin/g++-4.7 CXXFLAGS="-std=c++14 -pipe"
      addons: *gcc47
    - os: linux
      compiler: "gcc48"
      env: CXX=/usr/bin/g++-4.8 CXXFLAGS="-std=c++14 -pipe"
      addons: *gcc48
    - os: linux
      compiler: "gcc49"
      env: CXX=/usr/bin/g++-4.9 CXXFLAGS="-std=c++14 -pipe"
      addons: *gcc49
    - os: linux
      compiler: "gcc5"
      env: CXX=g++-5 CXXFLAGS="-std=c++14 -pipe"
      addons: *gcc5
    - os: linux
      compiler: "gcc6"
      env: CXX=/usr/bin/g++-6 CXXFLAGS="-std=c++14 -pipe"
      addons: *gcc6

before_install:
 - echo ${CXX} ${CXXFLAGS}
 - ls -l /usr/bin/*++*
 - echo -e "using clang : : ${CXX} ;\nusing gcc : : ${CXX} ;\n" > user-config.jam
 - mkdir Downloads Libraries
 - cd Downloads
 - wget -O - http://sourceforge.net/projects/boost/files/boost/${BOOST_VV}/boost_${BOOST_V}.tar.gz/download | tar zxf -
 - cd boost_${BOOST_V}/
 - bash bootstrap.sh --prefix=$HOME/Libraries --with-libraries=system,chrono,thread,regex,date_time,atomic,thread,test,random,coroutine
 - ./b2 variant=release link=static threading=multi runtime-link=shared cxxflags="${CXXFLAGS}" -j 4 -d0 install
 - cd ../..

install:
  - |
    if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then
      CMAKE_URL="http://www.cmake.org/files/v3.6/cmake-3.6.0-Linux-x86_64.tar.gz"
      mkdir cmake && travis_retry wget --no-check-certificate --quiet -O - ${CMAKE_URL} | tar --strip-components=1 -xz -C cmake
      export PATH=${DEPS_DIR}/cmake/bin:${PATH}
    else
      if ! brew ls --version cmake &>/dev/null; then brew install cmake; fi
    fi
    cmake --version

before_script:
 - cd ${TRAVIS_BUILD_DIR}
 - cmake -H. -Bb -DCMAKE_CXX_COMPILER=$COMPILER -DCMAKE_INSTALL_PREFIX=$PWD/o -DCMAKE_BUILD_TYPE=$BUILD_TYPE
 - cmake --build b

script:
 - cd b;
 - ctest

script:
 - cd ${TRAVIS_BUILD_DIR}
 - (mkdir build && cd build && cmake .. ${CMAKE_OPTIONS})

notifications:
 recipients:
  - nikkikom@gmail.com
 email:
  on_success: change
  on_failure: always
