language: cpp
compiler:
    - gcc
    - clang

sudo: no

# Save common build configurations as shortcuts, so we can reference them later.
addons_shortcuts:
  addons_clang35: &clang35
    apt:
      sources: [ 'ubuntu-toolchain-r-test', 'llvm-toolchain-precise-3.5' ]
      packages: [ 'clang-3.5', 'llvm-3.5-dev' ]
  addons_clang36: &clang36
    apt:
      sources: [ 'ubuntu-toolchain-r-test', 'llvm-toolchain-precise-3.6' ]
      packages: [ 'clang-3.6' ]
  addons_clang37: &clang37
    apt:
      sources: [ 'ubuntu-toolchain-r-test', 'llvm-toolchain-precise-3.7' ]
      packages: [ 'clang-3.7' ]
  addons_clang38: &clang38
    apt:
      sources: [ 'ubuntu-toolchain-r-test', 'llvm-toolchain-precise-3.8' ]
      packages: [ 'clang-3.8']
  addons_clang39: &clang39
    apt:
      sources: [ 'ubuntu-toolchain-r-test', 'llvm-toolchain-precise' ]
      packages: [ 'clang-3.9']
  addons_gcc47: &gcc47
    apt:
      sources: [ 'ubuntu-toolchain-r-test' ]
      packages: [ 'g++-4.7' ]
  addons_gcc48: &gcc48
    apt:
      sources: [ 'ubuntu-toolchain-r-test' ]
      packages: [ 'g++-4.8' ]
  addons_gcc49: &gcc49
    apt:
      sources: [ 'ubuntu-toolchain-r-test' ]
      packages: [ 'g++-4.9' ]
  addons_gcc5: &gcc5
    apt:
      sources: [ 'ubuntu-toolchain-r-test' ]
      packages: [ 'g++-5' ]

matrix:
  include:
    - os: osx
      osx_image: xcode7
      env: TEST_GYP_BUILD=True
      compiler: clang
    - os: linux
      compiler: "clang35"
      env: CXX=clang++-3.5 COVERAGE=True
      addons: *clang35
    - os: linux
      compiler: "clang36"
      env: CXX=clang++-3.6
      addons: *clang36
    - os: linux
      compiler: "clang37"
      env: CXX=clang++-3.7
      addons: *clang37
    - os: linux
      compiler: "clang38"
      env: CXX=clang++-3.8
      addons: *clang38
    - os: linux
      compiler: "clang38"
      env: CXX=clang++-3.8 CXX_STD=c++14
      addons: *clang38
    - os: linux
      compiler: "clang39"
      env: CXX=clang++-3.9
      addons: *clang39
    - os: linux
      compiler: "gcc47"
      env: CXX=g++-4.7
      addons: *gcc47
    - os: linux
      compiler: "gcc48"
      env: CXX=g++-4.8
      addons: *gcc48
    - os: linux
      compiler: "gcc49"
      env: CXX=g++-4.9
      addons: *gcc49
    - os: linux
      compiler: "gcc49"
      env: CXX=g++-4.9 CXX_STD=c++14
      addons: *gcc49
    - os: linux
      compiler: "gcc5"
      env: CXX=g++-5 CXXFLAGS="-D_GLIBCXX_USE_CXX11_ABI=0"
      addons: *gcc5
    - os: linux
      compiler: "gcc5"
      env: CXX=g++-5 CXXFLAGS="-D_GLIBCXX_USE_CXX11_ABI=1"
      addons: *gcc5

before_install:
 - echo ${CXX}
 - mkdir Downloads Libraries
 - cd Downloads
 - wget -O boost_1_61_0.tar.gz http://sourceforge.net/projects/boost/files/boost/1.61.0/boost_1_61_0.tar.gz/download
 - tar xzf boost_1_61_0.tar.gz
 - cd boost_1_61_0/
 - bash bootstrap.sh --prefix=$HOME/Libraries --with-libraries=system,chrono,thread,regex,date_time,atomic,thread,test,random,coroutine
 - ./b2 variant=release link=static threading=multi runtime-link=shared -j 4 -d0 install
 - cd ../..

env:
  global:
    - BOOST_INCLUDES=$HOME/Libraries/include
    - BOOST_LIBS=$HOME/Libraries/lib

script:
 - echo ok

notifications:
 recipients:
  - nikkikom@gmail.com
 email:
  on_success: change
  on_failure: always
